#**Python para Análise de dados(Pandas)**

In [1]:
# Importando a biblioteca pandas
import pandas as pd

In [2]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/CVS/esus-vepi.LeitoOcupacao_2022.csv") # DADOS ABERTOS: Registro de Ocupação Hospitalar COVID-19 2022
#sep = "" /separador     error_bad_lines=False /ignora erros

In [3]:
# Visualizando as 5 primeiras linhas
df.head()

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z

In [4]:
#df.rename(columns={}) / modificar nome
df = df.rename(columns={"origem":"Origem","municipioNotificacao":"MunicipioN"})

In [5]:
df.head() #(pode colocar a quantidade que quiser)

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,Origem,_p_usuario,estadoNotificacao,MunicipioN,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z

In [6]:
# Total de linhas e colunas
df.shape

(262945, 26)

In [7]:
# Quantidade de colunas
df.columns

Index(['Unnamed: 0', '_id', 'dataNotificacao', 'cnes', 'ocupacaoSuspeitoCli',
       'ocupacaoSuspeitoUti', 'ocupacaoConfirmadoCli', 'ocupacaoConfirmadoUti',
       'ocupacaoCovidUti', 'ocupacaoCovidCli', 'ocupacaoHospitalarUti',
       'ocupacaoHospitalarCli', 'saidaSuspeitaObitos', 'saidaSuspeitaAltas',
       'saidaConfirmadaObitos', 'saidaConfirmadaAltas', 'Origem', '_p_usuario',
       'estadoNotificacao', 'MunicipioN', 'estado', 'municipio', 'excluido',
       'validado', '_created_at', '_updated_at'],
      dtype='object')

In [8]:
# Tipo de dado que esta guardado em cada coluna
df.dtypes

Unnamed: 0                 int64
_id                       object
dataNotificacao           object
cnes                      object
ocupacaoSuspeitoCli      float64
ocupacaoSuspeitoUti      float64
ocupacaoConfirmadoCli    float64
ocupacaoConfirmadoUti    float64
ocupacaoCovidUti         float64
ocupacaoCovidCli         float64
ocupacaoHospitalarUti    float64
ocupacaoHospitalarCli    float64
saidaSuspeitaObitos      float64
saidaSuspeitaAltas       float64
saidaConfirmadaObitos    float64
saidaConfirmadaAltas     float64
Origem                    object
_p_usuario                object
estadoNotificacao         object
MunicipioN                object
estado                    object
municipio                 object
excluido                    bool
validado                    bool
_created_at               object
_updated_at               object
dtype: object

In [9]:
# Retorna as  ultimas linhas
df.tail()

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,Origem,_p_usuario,estadoNotificacao,MunicipioN,estado,municipio,excluido,validado,_created_at,_updated_at
262940,1562803,zem1EIpy05,2022-10-08T03:00:00.000Z,2334321,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$POeKvWs0UE,Pará,Belém,Pará,Belém,False,False,2022-10-09T21:08:46.507Z,2022-10-09T21:08:46.507Z
262941,1562804,Axo7HzssmX,2022-10-09T03:00:40.284Z,0226491,NaN,NaN,NaN,NaN,23.0,0.0,...,parse-cloud,_User$rS5ZVKbpf4,Pernambuco,Serra Talhada,Pernambuco,Serra Talhada,False,False,2022-10-09T21:19:53.357Z,2022-10-09T21:19:53.357Z
262942,1562805,DyeeECcC2v,2022-10-09T03:00:28.878Z,2118319,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$xmGMWCyM9G,Minas Gerais,Arinos,Minas Gerais,Arinos,False,False,2022-10-09T21:23:52.490Z,2022-10-09T21:23:52.490Z
262943,1562806,AsvwMIKOJd,2022-10-09T03:00:07.737Z,2363070,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$Eu3qeTtHXO,Paraíba,Campina Grande,Paraíba,Campina Grande,False,False,2022-10-09T21:43:13.691Z,2022-10-09T21:43:13.691Z
262944,1562807,TOEyImsi2L,2022-10-09T03:00:42.860Z,2336812,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$kNEcqQQ4I9,Pernambuco,Sertânia,Pernambuco,Sertânia,False,False,2022-10-09T21:44:34.381Z,2022-10-09T21:44:34.381Z

In [10]:
# Retorna informaçoes estatísticas
df.describe()

,Unnamed: 0,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,ocupacaoHospitalarUti,ocupacaoHospitalarCli,saidaSuspeitaObitos,saidaSuspeitaAltas,saidaConfirmadaObitos,saidaConfirmadaAltas
count,2.629450e+05,1.0,1.0,1.0,1.0,262945.000000,262945.000000,262945.000000,262945.000000,262945.000000,262945.000000,262945.000000,262945.000000
mean,1.430198e+06,13.0,8.0,0.0,0.0,2.130487,3.111689,9.025914,37.567591,0.128696,0.555991,0.892057,6.233821
std,7.747621e+04,NaN,NaN,NaN,NaN,7.181320,43.355440,25.394610,77.918057,2.625393,9.359191,14.860358,151.622764
min,6.415080e+05,13.0,8.0,0.0,0.0,-7.000000,-1.000000,-5.000000,-1.000000,-5.000000,-5.000000,-1.000000,-6.000000
25%,1.365111e+06,13.0,8.0,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.431174e+06,13.0,8.0,0.0,0.0,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000
75%,1.497052e+06,13.0,8.0,0.0,0.0,1.000000,2.000000,10.000000,44.000000,0.000000,0.000000,0.000000,0.000000
max,1.562807e+06,13.0,8.0,0.0,0.0,300.000000,21701.000000,8191.000000,21701.000000,596.000000,3292.000000,3300.000000,9167.000000

In [11]:
# Retorna apenas valores unicos
df["estado"].unique()

array(['Santa Catarina', 'Paraná', 'São Paulo', 'Rio Grande do Sul',
       'Minas Gerais', 'Sergipe', 'Rio de Janeiro', 'Goiás', 'Alagoas',
       'Espírito Santo', 'Ceará', 'Mato Grosso do Sul', 'Pernambuco',
       'Bahia', 'Piauí', 'Amazonas', 'Rondônia', 'Paraíba', 'Acre',
       'Pará', 'Rio Grande do Norte', 'Maranhão', 'Tocantins',
       'Distrito Federal', 'Mato Grosso', 'Amapá', 'Roraima'],
      dtype=object)

In [12]:
# Fazer filtro
Sp = df.loc[df["estado"] == "São Paulo"]
Sp.head()

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,Origem,_p_usuario,estadoNotificacao,MunicipioN,estado,municipio,excluido,validado,_created_at,_updated_at
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z
7,1290496,phtJiP6gpe,2022-01-01T03:00:21.351Z,2078511,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$q46U1ECOev,São Paulo,Ilha Solteira,São Paulo,Ilha Solteira,False,False,2022-01-01T05:53:35.231Z,2022-01-01T05:53:35.231Z
8,1290498,DjdziRthvF,2022-01-01T03:00:37.452Z,2082438,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$yklFg4R3ag,São Paulo,Chavantes,São Paulo,Chavantes,False,False,2022-01-01T08:35:47.103Z,2022-01-01T08:35:47.103Z

In [13]:
Sp["estado"].unique()

array(['São Paulo'], dtype=object)

In [14]:
# Agrupamento de dados
df.groupby("municipio")["estado"].nunique()

municipio
Abadia de Goiás          1
Acarape                  1
Acreúna                  1
Adamantina               1
Afogados da Ingazeira    1
                        ..
Água Doce                1
Águas Formosas           1
Águas Lindas de Goiás    1
Águas de Lindóia         1
Álvares Machado          1
Name: estado, Length: 1206, dtype: int64

In [15]:
# Media  
df.groupby("ocupacaoSuspeitoCli")["ocupacaoCovidCli"].mean() # erro com string

ocupacaoSuspeitoCli
13.0    1.0
Name: ocupacaoCovidCli, dtype: float64

In [16]:
df["ocupacaoCovidCli"].mean()

3.111688756203769

In [17]:
#SOMAR
df["ocupacaoCovidCli"].sum()

818203.0